.analytics {
    text-align: center;
    font-family: 'Krub';
}

.analytics-title {
    margin-top: 0.2em;
    font-weight: 800;
    font-size: 4em;
    color: #E3CAA5;
}

.survey-section {
    margin: auto;
    width: 70%;
}

.analytics-subsection {
    color: #CEAB93;
    font-size: 2.5em;
}

.survey-section_sub, .journal-section_sub {
    margin: auto;
}

.journal-section_sub {
    font-size: 1.2em;
    font-weight: 600;
    color: #AD8B73;
}

.donut {
    margin: auto;
    width: 30em;
}