MONGODB_DB=caffeinate
MONGODB_URI=mongodb://localhost:27017/${MONGODB_DB}
SESSION_SECRET=properly-generate-it-see-lab
# path starting from app.module.ts
FRONTEND_STATIC_RELDIR='../../frontend/build/'
# path starting from backend dir
HTTPS_PRIVATE_KEY_RELDIR=./server.key
HTTPS_CERTIFICATE_RELDIR=./server.crt